In [1]:
import os
import numpy as np

import pandas as pd
from pyFTS.common import Util
from pyFTS.benchmarks import benchmarks as bchmk

In [2]:
train1=pd.read_excel("/home/yash/Work/training/df/UP4years.xlsx","Sheet1")
train1

             Date and Time        UP_DMD
0      2014-01-01 00:00:00   9437.337891
1      2014-01-01 00:15:00   9601.834961
2      2014-01-01 00:30:00   9575.406250
3      2014-01-01 00:45:00   9458.622070
4      2014-01-01 01:00:00   9384.458008
5      2014-01-01 01:15:00   9303.470703
6      2014-01-01 01:30:00   9136.831055
7      2014-01-01 01:45:00   9027.442383
8      2014-01-01 02:00:00   8939.310547
9      2014-01-01 02:15:00   8553.535156
10     2014-01-01 02:30:00   8981.492188
11     2014-01-01 02:45:00   8957.855469
12     2014-01-01 03:00:00   8970.458008
13     2014-01-01 03:15:00   8901.930664
14     2014-01-01 03:30:00   9009.453125
15     2014-01-01 03:45:00   9020.666016
16     2014-01-01 04:00:00   9095.415039
17     2014-01-01 04:15:04   9051.651367
18     2014-01-01 04:30:00   9240.020508
19     2014-01-01 04:45:00   9462.734375
20     2014-01-01 05:00:00   9605.308594
21     2014-01-01 05:15:00   9208.648438
22     2014-01-01 05:30:00   9426.305664
23     2014-01-01 05:45:00   9670.680664
24     2014-01-01 06:00:00   9874.875977
25     2014-01-01 06:15:00   9575.213867
26     2014-01-01 06:30:00   9626.010742
27     2014-01-01 06:45:00   9260.879883
28     2014-01-01 07:00:00   9435.500977
29     2014-01-01 07:15:00   9235.936523
...                    ...           ...
113826 2017-03-31 16:25:00  13423.449219
113827 2017-03-31 16:45:00  13407.950195
113828 2017-03-31 17:00:00  13417.531250
113829 2017-03-31 17:15:00  13348.638672
113830 2017-03-31 17:30:00  13637.294922
113831 2017-03-31 17:45:00  13265.533203
113832 2017-03-31 18:00:10  13645.564453
113833 2017-03-31 18:15:00  13844.035156
113834 2017-03-31 18:30:00  14539.628906
113835 2017-03-31 18:45:00  15152.117188
113836 2017-03-31 19:00:00  15314.526367
113837 2017-03-31 19:15:00  15595.980469
113838 2017-03-31 19:30:00  16046.762695
113839 2017-03-31 19:45:08  16144.724609
113840 2017-03-31 20:00:00  15827.654297
113841 2017-03-31 20:15:00  16388.392578
113842 2017-03-31 20:30:00  16515.906250
113843 2017-03-31 20:45:00  16472.441406
113844 2017-03-31 21:00:00  16406.937500
113845 2017-03-31 21:15:00  16301.363281
113846 2017-03-31 21:30:13  15919.153320
113847 2017-03-31 21:45:00  15444.175781
113848 2017-03-31 22:00:00  15412.195312
113849 2017-03-31 22:15:00  15146.839844
113850 2017-03-31 22:30:00  15376.103516
113851 2017-03-31 22:45:00  15307.500000
113852 2017-03-31 23:00:00  15187.699219
113853 2017-03-31 23:15:00  14114.250000
113854 2017-03-31 23:30:00  14364.056641
113855 2017-03-31 23:45:00  14413.179688

[113856 rows x 2 columns]

In [3]:
train1["Date and Time"]=pd.to_datetime(train1["Date and Time"], format='%Y%m%d')
train1

             Date and Time        UP_DMD
0      2014-01-01 00:00:00   9437.337891
1      2014-01-01 00:15:00   9601.834961
2      2014-01-01 00:30:00   9575.406250
3      2014-01-01 00:45:00   9458.622070
4      2014-01-01 01:00:00   9384.458008
5      2014-01-01 01:15:00   9303.470703
6      2014-01-01 01:30:00   9136.831055
7      2014-01-01 01:45:00   9027.442383
8      2014-01-01 02:00:00   8939.310547
9      2014-01-01 02:15:00   8553.535156
10     2014-01-01 02:30:00   8981.492188
11     2014-01-01 02:45:00   8957.855469
12     2014-01-01 03:00:00   8970.458008
13     2014-01-01 03:15:00   8901.930664
14     2014-01-01 03:30:00   9009.453125
15     2014-01-01 03:45:00   9020.666016
16     2014-01-01 04:00:00   9095.415039
17     2014-01-01 04:15:04   9051.651367
18     2014-01-01 04:30:00   9240.020508
19     2014-01-01 04:45:00   9462.734375
20     2014-01-01 05:00:00   9605.308594
21     2014-01-01 05:15:00   9208.648438
22     2014-01-01 05:30:00   9426.305664
23     2014-01-01 05:45:00   9670.680664
24     2014-01-01 06:00:00   9874.875977
25     2014-01-01 06:15:00   9575.213867
26     2014-01-01 06:30:00   9626.010742
27     2014-01-01 06:45:00   9260.879883
28     2014-01-01 07:00:00   9435.500977
29     2014-01-01 07:15:00   9235.936523
...                    ...           ...
113826 2017-03-31 16:25:00  13423.449219
113827 2017-03-31 16:45:00  13407.950195
113828 2017-03-31 17:00:00  13417.531250
113829 2017-03-31 17:15:00  13348.638672
113830 2017-03-31 17:30:00  13637.294922
113831 2017-03-31 17:45:00  13265.533203
113832 2017-03-31 18:00:10  13645.564453
113833 2017-03-31 18:15:00  13844.035156
113834 2017-03-31 18:30:00  14539.628906
113835 2017-03-31 18:45:00  15152.117188
113836 2017-03-31 19:00:00  15314.526367
113837 2017-03-31 19:15:00  15595.980469
113838 2017-03-31 19:30:00  16046.762695
113839 2017-03-31 19:45:08  16144.724609
113840 2017-03-31 20:00:00  15827.654297
113841 2017-03-31 20:15:00  16388.392578
113842 2017-03-31 20:30:00  16515.906250
113843 2017-03-31 20:45:00  16472.441406
113844 2017-03-31 21:00:00  16406.937500
113845 2017-03-31 21:15:00  16301.363281
113846 2017-03-31 21:30:13  15919.153320
113847 2017-03-31 21:45:00  15444.175781
113848 2017-03-31 22:00:00  15412.195312
113849 2017-03-31 22:15:00  15146.839844
113850 2017-03-31 22:30:00  15376.103516
113851 2017-03-31 22:45:00  15307.500000
113852 2017-03-31 23:00:00  15187.699219
113853 2017-03-31 23:15:00  14114.250000
113854 2017-03-31 23:30:00  14364.056641
113855 2017-03-31 23:45:00  14413.179688

[113856 rows x 2 columns]

In [9]:
#data.index = np.arange(0,len(data.index))

#data = data["a"].tolist()

from pyFTS.models.seasonal import sfts

# ix = SeasonalIndexer.LinearSeasonalIndexer([7],[1])

#ix = SeasonalIndexer.DateTimeSeasonalIndexer("date", [common.DateTime.day_of_week],
#                                               [None, None], 'a', name="weekday")

AttributeError: module 'pyFTS.common.FLR' has no attribute 'FLRG'