In [1]:
%matplotlib inline
import pandas as pd
data = pd.read_csv("updata.csv",index_col=0)
data.head()

                UP_DMD
Date and Time
1-Jan-14  0:00    9437
1-Jan-14  0:15    9602
1-Jan-14  0:30    9575
1-Jan-14  0:45    9459
1-Jan-14  1:00    9384

In [2]:
data.index

Index(['1-Jan-14  0:00', '1-Jan-14  0:15', '1-Jan-14  0:30', '1-Jan-14  0:45',
       '1-Jan-14  1:00', '1-Jan-14  1:15', '1-Jan-14  1:30', '1-Jan-14  1:45',
       '1-Jan-14  2:00', '1-Jan-14  2:15',
       ...
       '31-Mar-17  21:30', '31-Mar-17  21:45', '31-Mar-17  22:00',
       '31-Mar-17  22:15', '31-Mar-17  22:30', '31-Mar-17  22:45',
       '31-Mar-17  23:00', '31-Mar-17  23:15', '31-Mar-17  23:30',
       '31-Mar-17  23:45'],
      dtype='object', name='Date and Time', length=113856)

In [3]:
data.index = pd.to_datetime(data.index)

In [ ]:
data.head()

In [5]:
data.index

DatetimeIndex(['2014-01-01 00:00:00', '2014-01-01 00:15:00',
               '2014-01-01 00:30:00', '2014-01-01 00:45:00',
               '2014-01-01 01:00:00', '2014-01-01 01:15:00',
               '2014-01-01 01:30:00', '2014-01-01 01:45:00',
               '2014-01-01 02:00:00', '2014-01-01 02:15:00',
               ...
               '2017-03-31 21:30:00', '2017-03-31 21:45:00',
               '2017-03-31 22:00:00', '2017-03-31 22:15:00',
               '2017-03-31 22:30:00', '2017-03-31 22:45:00',
               '2017-03-31 23:00:00', '2017-03-31 23:15:00',
               '2017-03-31 23:30:00', '2017-03-31 23:45:00'],
              dtype='datetime64[ns]', name='Date and Time', length=113856, freq=None)

In [6]:
#data[pd.isnull(data['UP_DMD'])]

In [7]:
data.columns = ['UP_DMD']

In [8]:
data.head()

                     Energy Production
Date and Time
2014-01-01 00:00:00               9437
2014-01-01 00:15:00               9602
2014-01-01 00:30:00               9575
2014-01-01 00:45:00               9459
2014-01-01 01:00:00               9384

In [17]:
from pyramid.arima import auto_arima

In [ ]:
stepwise_model = auto_arima(data, start_p=1, start_q=1,
                           max_p=3, max_q=3, m=12,
                           start_P=0, seasonal=True,
                           d=1, D=1, trace=True,
                           error_action='ignore',  
                           suppress_warnings=True, 
                           stepwise=True)

In [ ]:

stepwise_model.aic()

In [ ]:
data.head()

In [ ]:
data.info()

In [ ]:
train = data.loc['1-Jan-14 0:00':'2-May-16  13:15']

In [ ]:
train.tail()

In [ ]:
test = data.loc['2-May-16  13:30']

In [ ]:

test.head()

In [ ]:
test.tail()

In [ ]:

len(test)

In [ ]:
stepwise_model.fit(train)

In [ ]:
future_forecast = stepwise_model.predict(n_periods=37)

In [ ]:
future_forecast

In [ ]:
future_forecast = pd.DataFrame(future_forecast,index = test.index,columns=['Prediction'])

In [ ]:
future_forecast.head()

In [ ]:
test.head()

In [ ]:
pd.concat([test,future_forecast],axis=1).iplot()

In [ ]:
future_forecast2 = future_forcast

In [ ]:
pd.concat([data,future_forecast2],axis=1).iplot()